name: "Create DSSE Attestation"
description: "Generate a DSSE in-toto attestation using Cosign"

inputs:
  predicate-path:
    description: "Path to predicate JSON file"
    required: true
  predicate-type:
    description: "Predicate Type URL"
    required: true
  subject-digest:
    description: "sha256: digest representing the subject"
    required: true

outputs:
  attestation-file:
    description: "Produced attestation file"
    value: ${{ steps.generate.outputs.ATTESTATION_FILE }}

runs:
  using: "composite"
  steps:
    - name: Install Cosign
      shell: bash
      run: |
        COSIGN_VERSION="$(curl -s https://api.github.com/repos/sigstore/cosign/releases/latest | jq -r '.tag_name')"
        curl -sL "https://github.com/sigstore/cosign/releases/download/${COSIGN_VERSION}/cosign-linux-amd64" -o cosign
        chmod +x cosign
        sudo mv cosign /usr/local/bin/cosign

    - name: Generate DSSE Attestation
      id: generate
      shell: bash
      run: |
        cosign attest \
          --predicate "${{ inputs.predicate-path }}" \
          --type "${{ inputs.predicate-type }}" \
          --yes \
          "${GITHUB_REPOSITORY}@${{ inputs.subject-digest }}"

        echo "ATTESTATION_FILE=attestation.intoto.jsonl" >> "$GITHUB_OUTPUT"
